

body 
{ 
    background-color: black; text-align: center; 
    color: chocolate;
}

h1{
    text-align:center;
    font-weight:900;
    font-family:""Times New Roman", Times, serif";
    background-color: black;
    color:rgb(252, 143, 0);
    border: 5px chocolate;}
marquee {color: rgb(255, 136, 0);}

}
p {
    margin: 50px;
   text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(228, 99, 13);
  }
table{
    width: 50%;
    height: 70px;
    text-align: center;
    color: black;
    vertical-align: bottom;
    background-color:#ffffff;
    }



